.GroupList {
  :global {
    .group-bar {
      height: 64px;
      color: #333;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: #fff;
      .curr-group {
        padding: 15px 15px 0;
        .curr-group-name {
          font-size: 22px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 140px;
            font-weight: 200;
            vertical-align: bottom;
          }
          .name {
            display: inline-block;
            margin-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0;
          }
          .editSet {
            &:hover {
              color: #2395f1;
            }
          }
          .ant-dropdown-link {
            float: right;
            display: block;
            color: rgba(255, 255, 255, 0.85);
            &:hover {
              color: #2395f1;
            }
          }
          .operate {
            font-size: 0;
            width: 150px;
            display: inline-block;
            i {
              margin-left: 4px;
            }
            ::-webkit-scrollbar {
              width: 0px;
            }
          }
        }
        .curr-group-desc {
          font-size: 13px;
          max-height: 54px;
          margin-top: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }
        .delete-group, .edit-group {
          font-size: 14px;
          margin-left: 8px;
          cursor: pointer;
          border: 1px solid #999;
          padding: 6px 12px;
          border-radius: 4px;
          transition: all .2s;
        }
        .delete-group:hover, .edit-group:hover {
          background-color: #2395f1;
          border: 1px solid #2395f1;
        }
      }
      .group-operate {
        padding: 15px;
        display: flex;
        justify-content: space-around;
        .search {
          flex-grow: 1;
        }
      }
      .group-list {
        overflow-x: hidden;
        padding-bottom: 24px;
        border: none;
        .group-item {
          font-size: 14px;
        }
        .group-item:hover {
        }
        .group-item.selected {
        }
        .group-name {
          float: left;
        }
        .group-edit {
          float: right;
          font-size: 18px;
        }
      }
    }
    .add-group-modal {
      .modal-input {
        margin: 24px;
      }
      .label {
        text-align: right;
        line-height: 28px;
      }
    }
    .user-menu {
      a {
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}
